<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input name="email" matInput type="email" placeholder="Post Title" ngModel #emailInput="ngModel" required
                email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input name="password" matInput type="password" placeholder="Password" ngModel #password="ngModel" required>

            <mat-error *ngIf="password.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Signup</button>
    </form>
</mat-card>